<a href="https://colab.research.google.com/github/lauraemmanuella/IntroducaoPython/blob/main/1_Sequencial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Programação sequencial em Python



---


O que vamos ver aqui?

1. Comentários no código
2. Variáveis para armazenar dados
3. Tipos de dados básicos: numéricos, lógicos e textos
4. Operações aritméticas, relacionais e lógicas
5. Comandos para entrada e saída de dados
6. Exercícios

## 1. Comentários no código

---

São textos incluídos dentro do programa para explicar alguma coisa.

> **Os comentários não modificam o programa, servem apenas de documentação.**

Em Python, pode-se inserir comentários de uma linha usando `#` e comentários de múltiplas linhas usando `'''` para iniciar e `'''` novamente para finalizar

In [ ]:
# isto eh um comentario de uma linha apenas


'''
Isto eh um comentario de multiplas linhas

Quando executamos o codigo, os comentarios nao interferem no processamento
'''


2 * 4  #usando o interpretador como calculadora

8

## 2. Variáveis para armazenar dados

---

Um programa computacional normalmente manipula dados, esses dados precisam ser armazenados na memória do computador enquanto estão sendo manipulados. Para que possamos referenciar esses dados na memória, usamos **variáveis**.


> Uma variável faz referencia a uma posição da memória do computador que está armazenando algum dado do nosso programa


**Os nomes das variáveis devem seguir algumas regras:**

1. Os nomes não podem começar com um número.
2. Não pode haver espaços no nome. Use `_` em vez disso.
3. Não é possível usar nenhum desses símbolos: `'", <> /? | \ ()! @ # $% ^ & * ~ - +`
4. É considerada uma boa prática que os nomes sejam minúsculos.


> Algo muito importante em Python é que **letras maiúsculas e minúsculas fazem diferença no nome de variáveis e comandos**, ou seja, uma variável de nome `base` é diferente de uma variável de nome `Base`. O comando de saída de dados em tela é `print` todo minúsculo, o que quer dizer que se usarmos `Print` resultará em um erro.

In [ ]:
'''
No exemplo abaixo, estamos definindo duas variáveis: base e altura. 

Em Python, para criar uma variável temos apenas que definir um nome e atribuir um valor a ela

O operador de igualdade (=) nesse caso é um comando de atribuição

Lê-se:
  base recebe dois 
  altura recebe quatro
'''

base = 2 
altura = 4

In [ ]:
'''
Fazer referência à variavel base com o b maiúsculo resultará em ERRO, 
pois o nome da variável foi definido todo minúsculo
'''

area = Base * altura #Lê-se area recebe base vezes altura

NameError: ignored

Quando cometemos um erro de sintaxe, o comando não é executado. Ao invés disso uma mensagem de erro é mostrada

>Devemos nos acostumar a identificar o tipo de erro mostrado para corrigi-lo

No caso acima, o erro é que o nome da variável não é reconhecido pelo interpretador 

`NameError: name 'Base' is not defined`

## 3. Tipos de dados básicos: numéricos, lógicos e textos

---

Quando definimos uma variável, ela fica associada a um **tipo de dado** que define a natureza dos dados que a variável armazena, determinando quais operações podem ser realizadas sobre ela. 


> Esse tipo pode ser um número inteiro (`int`), um número real (`float`), um texto (`str`), um valor lógico (`bool`) ou uma estrutura de dados mais complexa (`list, dict, set`,...)

In [ ]:
'''
O comando type em Python mostra o tipo do dado que a variável está armazenando
'''

type(base)

int

> Algumas linguagens de programação (comumente as compiladas) exigem que o tipo de dado que a variável irá armazenar seja informado no momento da criação da variável, isso ajuda o compilador a reservar o espaço de memória necessário para aquele dado e realizar a validação das operações feitas sobre a variável

Python é uma linguagem **dinamicamente tipada**, uma característica comum em linguagens interpretadas. Isso quer dizer que não precisamos informar o tipo do dado que uma variável irá guardar, pois o interpretador infere essa informação a partir do valor da variável

Os tipos de dados básicos em Python são

* **Numéricos**: `int` (inteiro) e `float` (real ou ponto flutuante)
* **Lógicos:** `bool` (booleano)
* **Textos:** `str` (string ou cadeia de caracteres)

### Números

<table>
<tr>
    <th>Tipo</th> 
    <th>Exemplos</th>
</tr>

<tr>
    <td>Inteiro (int)</td>
    <td>1; -5; 1000</td> 
</tr>

<tr>
    <td>Real (float)</td> 
    <td>1.2; -0.5; 2E3; 2e-3</td> 
</tr>
 </table>

In [ ]:
idade = 65    # Lê-se idade recebe 65
type(idade)

int

In [ ]:
raio = 4.2   # Lê-se raio recebe 4.2
type(raio)

float

> **Observe que usamos ponto ao invés de vírgula nos números do tipo real, exemplo: 4.2 e não 4,2**

In [ ]:
grande = 2E3  # notação científica (base 10)
print(grande) # print é o comando para saída de dados na tela 
type(grande)

2000.0

float

**Observação!!!**

Para visualizarmos na tela qualquer informação gerada no programa, precisamos usar o comando `print`

>Aqui no notebook, conseguimos ver o valor das variáveis e resultados de operações sem usar o `print`, mas isso não será possível se estivermos usando uma IDE comum, com arquivos .py

In [ ]:
pequeno = 2e-3  # notação científica (base 10)
print(pequeno)
type(pequeno)

0.002

float

### Lógicos

<table>
<tr>
    <th>Tipo</th> 
    <th>Valores</th>
</tr>

<tr>
    <td>Booleano (bool)</td>
    <td>True; False</td> 
</tr>
</table>

Muitas vezes queremos armazenar um conteúdo simples em variável, com apenas dois valores possíveis: verdadeiro ou falso.

> Em Python, escrevemos `True` para verdadeiro e `False` para falso

In [ ]:
valido = False
aprovado = True
type(valido)

bool

### Textos

As variáveis que armazenam textos ou cadeia de caracteres quaisquer são chamadas de `strings`

>Ao definir um valor para uma variável do tipo string, devemos colocar aspas antes e depois do valor

In [2]:
nome = 'Laura Emmanuella' 
type(nome)

str

Em geral, usamos aspas simples para marcar o conteúdo textual, **mas pode usar aspas duplas também**

>Se no conteúdo do texto precisar de aspas, **use aspas simples internamente e aspas duplas para a marcação da string**, como no exemplo abaixo (**ou o inverso**)

In [ ]:
print("conteúdo 'X' ")

conteúdo 'X'

In [ ]:
print('conteúdo "X" ')

conteúdo "X"

In [ ]:
'''
O comando len informa o tamanho, ou seja, a quantidade de caracteres que uma string possui
'''

len(nome)

16

#### Indexação
As strings são uma sequência de caracteres, o que significa que podemos usar índices para chamar partes dela. Usamos colchetes `[]` após o nome da string para chamar seu índice. Devemos também lembrar que a indexação começa em 0.

In [4]:
print(nome[0])

L

In [5]:
print(nome[-1]) # retorna a ultima letra

a

#### Cortes
Podemos usar `:` para executar cortes que retorna tudo até um ponto designado

In [6]:
print(nome[6:]) #iniciando no índice 6 até o final

Emmanuella

In [7]:
print(nome[8:12]) #iniciando no índice 8 até o índice 11 (não inclui o 12)

manu

In [8]:
print(nome[:5]) #do inicio até o índice 4 (nao inclui o 5)

Laura

In [9]:
print(nome[:]) #inicio ao fim

Laura Emmanuella

In [10]:
print(nome[:-1]) #do inicio ao penultimo

Laura Emmanuell

In [11]:
print(nome[0:16:2]) #inicio:fim:passos

LuaEmnel

In [12]:
print(nome[::2]) #mesma coisa (inicio:fim:passos)

LuaEmnel

In [13]:
print(nome[::-1]) #inverte toda a string

alleunammE aruaL

#### Propriedades das Strings
É importante notar que as strings têm uma propriedade importante conhecida como **imutabilidade**. Isso significa que, uma vez que uma string é criada, **os elementos nela não podem ser alterados ou substituídos por indexação.**

In [ ]:
nome[0] = 'M'

TypeError: ignored

Mas, podemos **CONCATENAR** strings

In [ ]:
nome = 'M' + nome[1:]
print(nome)

Maura Emmanuella

#### Métodos de Strings

https://docs.python.org/pt-br/3.10/library/stdtypes.html#string-methods

In [ ]:
print(nome.upper())

MAURA EMMANUELLA

In [ ]:
'''o método upper retornou o nome maiúsculo, 
mas como eu não salvei na var nome, ela nao foi alterada
'''
print(nome)

Maura Emmanuella

In [ ]:
print(nome.split())

['Maura', 'Emmanuella']

In [ ]:
print(nome.split('a'))

['M', 'ur', ' Emm', 'nuell', '']

In [ ]:
'   espaço   '.strip() #remove os espaços em branco no começo e fim da string

'espaço'

In [15]:
curso = 'Engenharia'
print('meu nome é ', nome, '\nmeu curso é ', curso) #\n quebra linha

meu nome é  Laura Emmanuella
meu curso é  Engenharia

## 4. Operações aritméticas, relacionais e lógicas

---

Além da operação básica de atribuição (=), podemos executar operações aritméticas, relacionais e lógicas sobre os dados

### Operações aritméticas

<table>
<tr>
    <th>Operador</th> 
    <th>Operação</th>
    <th>Exemplo</th>
</tr>

<tr>
    <td>+</td>
    <td>Adição</td>
    <td>(a + b)</td> 
</tr>

<tr>
    <td>-</td> 
    <td>Substração</td> 
    <td>(a - b)</td> 
</tr>

<tr>
    <td>*</td> 
    <td>Multiplicação</td> 
    <td>(a * b)</td> 
</tr>

<tr>
    <td>/</td> 
    <td>Divisão (com resultado fracionário)</td> 
    <td>(a / b)</td> 
</tr>

<tr>
    <td>//</td> 
    <td>Divisão (com resultado inteiro)</td> 
    <td>(a // b)</td> 
</tr>

<tr>
    <td>%</td> 
    <td>Resto da divisão</td> 
    <td>(a % b)</td> 
</tr>

<tr>
    <td>**</td> 
    <td>Exponenciação ou potenciação</td> 
    <td>(a ** b)</td> 
</tr>
 </table>

In [ ]:
x = 9
y = 2

In [ ]:
z1 = x / y 
print(z1)

4.5

In [ ]:
z2 = x // y 
print(z2)
type(z2)

4

int

In [ ]:
z3 = x % y #resto da divisão inteira
print(z3)

1

In [ ]:
z4 = x ** y #exponenciação
print(z4)

81

> Não esqueça que assim como na matemática, as operações possuem prioridade de execução. As operações de mesma prioridade são executadas da esquerda para direita. Utilize parênteses sempre que precisar alterar a ordem de execução das operações e também para aumentar a clareza da fórmula

In [ ]:
'''
Observe a prioridade da expressão abaixo
'''

4 + 2 * 3 - 1 / 10

9.9

Podemos ver que no exemplo acima, a expressão foi executada da seguinte forma:



```
4 + (2*3) - (1/10)

4 + 6 - 0.1

10 - 0.1

9.9
```

In [ ]:
'''
Mudando a ordem de prioridade usando parênteses
'''

(4 + 2) * (3 - 1) / 10

1.2

No exemplo acima, mudamos a ordem de execução ao colocar os parênteses. Dessa vez, a execução foi feita assim:



```
(4 + 2) * (3 - 1) / 10

(6 * 2) / 10

12/10

1.2
```

>Abaixo, veja exemplo de dois comandos úteis em Python (`round e help`):

In [ ]:
'''
O comando round, arredonda o valor passado para o próximo valor inteiro
'''

round(9.55789)

10

In [ ]:
'''
podemos obter ajuda sobre os comandos, usando o comando help
'''

help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [ ]:
'''
Podemos informar a quantidade de casas decimais para o arredondamento
'''

round(9.55789, 2) #informa a quantidade de casas decimais

9.56

### Operações relacionais

>As operações relacionais estabelecem comparações entre os dados, **nos permitindo comparar variáveis e produzir um valor lógico (Verdadeiro ou Falso).**

<table>
<tr>
<th>Operador</th><th>Operação</th><th>Exemplo</th>
</tr>
<tr>
<td>==</td>
<td>Igualdade</td>
<td> (a == b)</td>
</tr>
<tr>
<td>!=</td>
<td>Diferença</td>
<td>(a != b)</td>
</tr>
<tr>
<td>&gt;</td>
<td>Maior que</td>
<td> (a &gt; b) </td>
</tr>
<tr>
<td>&lt;</td>
<td>Menor que</td>
<td> (a &lt; b) </td>
</tr>
<tr>
<td>&gt;=</td>
<td>Maior ou igual</td>
<td> (a &gt;= b)  </td>
</tr>
<tr>
<td>&lt;=</td>
<td>Menor ou igual</td>
<td> (a &lt;= b)  </td>
</tr>
</table>

In [ ]:
a = 100
b = 90
c = 100

In [ ]:
a != b

True

In [ ]:
b == c

False

In [ ]:
a >= c

True

### Operações lógicas

Para agrupar operações com lógica booleana, utilizaremos operadores lógicos.

> Python suporta três operadores básicos: `not (negação); and (conjunção); or(disjunção)`

<table>
<tr>
<th>Operador</th>
<th>Operação</th>
<th>Exemplo</th>
</tr>

<tr>
<td>not</td>
<td>não (negação)</td>
<td>not a; not True; not False</td>
</tr>

<tr>
<td>and</td>
<td>e (conjunção)</td>
<td>a and b; True and False</td>
</tr>

<tr>
<td>or</td>
<td>ou (disjunção)</td>
<td>a or b; False or True</td>
</tr>
</table>

In [ ]:
aprovado = True
valido = False

**Tabela verdade do operador not**
<table>
<tr>
<th>a</th>
<th>not a</th>
</tr>

<tr>
<td>V</td>
<td>F</td>
</tr>

<tr>
<td>F</td>
<td>V</td>
</tr>
</table>

In [ ]:
'''
A negação de um valor booleano, tem como resultado o inverso do valor
'''

not aprovado

False

**Tabela verdade do operador and**
<table>
<tr>
<th>a</th>
<th>b</th>
<th>a and b</th>
</tr>

<tr>
<td>V</td>
<td>V</td>
<td>V</td>
</tr>

<tr>
<td>V</td>
<td>F</td>
<td>F</td>
</tr>

<tr>
<td>F</td>
<td>V</td>
<td>F</td>
</tr>

<tr>
<td>F</td>
<td>F</td>
<td>F</td>
</tr>
</table>

In [ ]:
'''
A conjunção (and) só retorna verdadeiro quando os dois operandos são verdadeiros
'''

aprovado and valido

False

**Tabela verdade do operador or**

<table>
<tr>
<th>a</th>
<th>b</th>
<th>a or b</th>
</tr>

<tr>
<td>V</td>
<td>V</td>
<td>V</td>
</tr>

<tr>
<td>V</td>
<td>F</td>
<td>V</td>
</tr>

<tr>
<td>F</td>
<td>V</td>
<td>V</td>
</tr>

<tr>
<td>F</td>
<td>F</td>
<td>F</td>
</tr>
</table>

In [ ]:
'''
A disjunção (or) só retorna falso quando os dois operandos são falsos
'''

aprovado or valido

True

**Combinando operadores relacionais**

>Podemos usar os operadores lógicos `and e or` para unir várias operações relacionais, produzindo uma expressão mais complexa

In [ ]:
1 < 2 or 1 > 3

True

In [ ]:
x = 98
y = 980
z = 9

x == z and z > y

False

> Também é válido em Python fazer operações relacionais encadeadas como no exemplo abaixo, no entanto, **nesse caso a expressão estará usando uma conjunção (AND)**

In [ ]:
1 < 2 < 3

True

In [ ]:
1 > 2 < 3

False

## 5. Comandos para entrada e saída de dados

---

Em geral, os programas recebem dados para realizar processamentos e precisam apresentar o resultado do processamento. Chamamos esse processo de entrada e saída de dados.

É claro que a entrada e saída de dados pode dar-se de diferentes formas, nesse momento vamos ver a forma mais simples: **entrada por teclado e saída na tela**

### Saída de dados em tela

A saída de dados em tela é feita usando o comando `print`

In [ ]:
print('Exemplo de saída de informação na tela')

Exemplo de saída de informação na tela

In [ ]:
nome = 'Laura'
print(nome) #saída na tela do valor de uma variável

Laura

Podemos precisar imprimir na tela um texto contendo valores de variáveis do nosso programa. Existem diversas formas de fazer isso em Python.

In [ ]:
'''
Podemos usar a expressão: f' texto {variável}'
'''

print(f'Seja bem-vindo(a) {nome} à nossa aula')

Seja bem-vindo(a) Laura à nossa aula

In [ ]:
'''
Podemos também separar texto e variável por vírgula. 
Nesse caso, as aspas ficam somente no texto
'''

print('Seja bem-vindo(a)', nome, 'à nossa aula')

Seja bem-vindo(a) Laura à nossa aula

### Entrada de dados

A entrada de dados usando teclado é feita pelo comando `input`

>O valor digitado será atribuído à variável

In [ ]:
peso = input('Informe o peso: ')

Informe o peso: 51

In [ ]:
print(f'O peso informado foi: {peso}') #apresenta a variável dentro do texto de saída

O peso informado foi: 51

In [ ]:
'''
inputs recebem sempre os dados como strings
'''

type(peso)

str

In [ ]:
'''
Se quisermos fazer uma operação aritmética com esse dado, não poderemos
'''

peso / 2

TypeError: ignored

In [ ]:
'''
Nesses casos, precisamos mudar o tipo da variável 
'''

peso = float(peso)

In [ ]:
type(peso)

float

In [ ]:
'''
Observe que agora foi possível a operação
'''

peso / 2

25.5

In [ ]:
'''
Podemos fazer a conversão no momento da entrada do dado pelo input
'''

altura = float(input('informe a altura: '))

informe a altura: 1.60

In [ ]:
type(altura)

float

In [ ]:
print(f'seu imc é: {peso/(altura*altura)}')

seu imc é: 19.921874999999996

In [ ]:
'''
Podemos melhorar a formatação do número real usando :.2f antes de encerrar as {}
'''

print(f'seu imc é: {peso/(altura*altura):.2f}')

seu imc é: 19.92

##6. Exercícios


---

1. Escreva um código que faça a conversão de um valor recebido em metros para centímetros e milímetros, como no exemplo de execução abaixo:

In [ ]:
# seu código aqui

Informe o valor metros:1.60
1.6 m = 160.0 cm = 1600.0 mm

2. Escreva uma expressão que será utilizada para decidir se um aluno foi ou não aprovado. Para ser aprovado, todas as médias do aluno devem ser maiores ou iguais a 5. Considere que o aluno cursa apenas três disciplinas e que a média de cada uma será armazenada nas variáveis: media1, media2 e media3. **Receba as médias como entrada e mostre se aprovado é True ou False**, como no exemplo de execução abaixo:

In [ ]:
#seu código aqui

Informe a média da disciplina 1: 5
Informe a média da disciplina 2: 6.8
Informe a média da disciplina 3: 5.5
Aprovado: True

3. Escreva uma expressão que será utilizada para decidir se um aluno foi ou não aprovado em uma disciplina. Para ser aprovado, a média do aluno deve ser maior ou igual a 7, ou a média deve ser maior ou igual a 5 e o percentual de faltas menor que 50%. **Receba a média e o percentual de faltas como entrada e mostre se aprovado é True ou False**, como no exemplo de execução abaixo:

In [ ]:
#Seu código aqui

Informe a média na disciplina:5.5
Informe o percentual de faltas na disciplina:0.3
Aprovado: True

4. Escreva um algoritmo que calcule o salário líquido de um professor. Receba como entrada o valor da hora aula, número de horas trabalhadas no mês e percentual de desconto do INSS. O salário líquido será o salário bruto menos o percentual de desconto:

In [ ]:
#Seu código aqui

Informe o valor da hora aula:100
Informe o número de horas trabalhadas no mês:32
Informe percentual de desconto do INSS:0.08
Salário líquido: 2944.0