<a href="https://colab.research.google.com/github/lauraemmanuella/IntroducaoPython/blob/main/3_Declaracoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Declarações em Python

## Python vs outras linguagens

Vamos criar uma declaração simples que diga: "Se a é maior que b, atribua 2 a a e 4 a b"

Dê uma olhada nessas duas declarações if abaixo:

**Versão 1 (Outras linguagens)**

     se (a > b) {
         a = 2;
         b = 4;
     }
 
**Versão 2 (Python)**

     se a > b:
         a = 2
         b = 4
     
     
Vamos percorrer as principais diferenças:

Python se livra de ( ) e { } incorporando dois fatores principais: os *dois pontos* e os *espaços em branco*. A declaração é terminada com dois pontos e o espaço em branco é usado (recuo) para descrever o que ocorre no escopo da declaração.

Outra grande diferença é a falta de ponto e vírgula em Python.

# if,elif e else       
        
Sintaxe

     if case1:
         executar ação1
     elif case2:
         execute ação2
     else:
         execute a ação 3

In [ ]:
if True:
    print('It was true!')

It was true!

In [ ]:
x = False

if x:
    print('x was True!')
else:
    print('I will be printed in any case where x is not true')

I will be printed in any case where x is not true

In [ ]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Welcome to the Auto Shop!')
elif loc == 'Bank':
    print('Welcome to the bank!')
else:
    print("Where are you?")

Welcome to the bank!

# For

https://docs.python.org/3/tutorial/controlflow.html#for-statements

Um loop **for** atua como um iterador em Python, ele passa por itens que estão em uma **sequência** ou qualquer outro item iterável. Os objetos que aprendemos até agora que podemos iterar incluem strings, listas, tuplas e até iteráveis embutidos em dicionários, como chaves ou valores.


Sintaxe

     for item in objeto:
         fazer algo

In [ ]:
seq = [1,2,3,4,5]
for item in seq:
    print(item)

1
2
3
4
5

In [ ]:
for letter in 'This is a string.':
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g
.

In [ ]:
l = [(2,4),(6,8),(10,12)] #lista de tuplas
for tup in l:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [ ]:
for (t1,t2) in l:
    print(t1)

2
6
10

In [1]:
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [2]:
for item in d.keys(): #mesmo resultado
    print(item)

k1
k2
k3

In [3]:
for item in d.values(): 
    print(item)

1
2
3

Observe como isso produz apenas chaves. Então, como podemos obter os valores? Ou as chaves e os valores?

In [4]:
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

In [7]:
# Como seria esse exemplo em C ou java?
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [8]:
for i, j in enumerate(a): #mesmo resultado
    print(i, j)

#A função enumerate tb é uma função geradora, assim como o range

0 Mary
1 had
2 a
3 little
4 lamb

## Cláusulas break, continue e else loops

In [ ]:
# como seria esse exemplo em C ou java?
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [ ]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

# While

Sintaxe

     while teste:
         declaração de código

In [ ]:
x = 0

while x < 10:
    print('x is currently: ', x)
    print(' x is still less than 10, adding 1 to x')
    x += 1

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x

In [ ]:
x = 5
while True:
    print(x)
    x+=1
    if x > 10:
        break;

5
6
7
8
9
10